@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background-color: #020617;
  color: #f8fafc;
  font-family: inherit;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
